/* style-plans.css */
:root {
  --MW: 2440px;
  --w: 81vw;
}
:root {
  /*--clamp--*/
  --fsz--par--plan: clamp(1rem, 0.808rem + 0.769vw, 1.5rem);
  --lh--par--plan: clamp(1.25rem, 1.058rem + 0.769vw, 1.75rem);

  --fsz--tit--header: clamp(1rem, 0.87rem + 1.538vw, 2.25rem);
  --lh--tit--header: clamp(1.5rem, 0.429rem + 2.857vw, 3rem);

  --fsz--tit--plan: clamp(1rem, 0.7996rem + 0.7782vw, 1.5rem);
  --lh--tit--plan: clamp(1rem, 0.6rem + 1.5vw, 2.25rem);

  /**recommended: --width: clamp(45ch, 50%, 75ch); */
  --width: clamp(45ch, 75%, 85ch);
  --width: clamp(min(65%, 40ch), 70%, max(80%, 85ch));
}

.section__plans {
  height: 100%;
  width: 100vw;
  /* max-width: var(--MW-plans); */
  margin: 0;
  padding: 0;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__plans {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.plans__page__container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

  /* border:10px solid blue; */
}

/* .plan__bgImg {
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
} */

.plan__card {
  background-color: rgb(255, 255, 255, 0.6);
  outline: none;
  border: none;
  border-radius: 1.25rem;
  padding: 0.5rem;
  z-index: 10;

  margin: 0 2rem 2rem 2rem;
}

.seguro__medico {
  font-size: 1.2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  width: var(--width);
  font-size: var(--fsz--par--plan);
  font-weight: normal;
}

.pagePlan__container {
  width: 85%;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: space-between;

  justify-content: center;
  gap: 1.5rem;

  background-color: rgb(255, 255, 255, 0.6);
  margin-top: 6rem;
  margin-bottom: 3rem;
  /* border:10px solid green; */
}

.pagePlan__header {
  text-align-last: left;
  line-height: 2rem;
  font-weight: bold;
}

.pagePlan__header--title {
  font-size: 1.5rem;
  font-weight: bold;

  font-size: var(--fsz--tit--header);

  line-height: var(--lh--tit--header);
}

.pagePlan__header--parr {
  font-size: 1.25rem;
  font-weight: bold;

  font-size: var(--fsz--tit--header);

  line-height: var(--lh--tit--header);
}

.pagePlan__parr1 {
  font-weight: normal;
  margin-top: 1rem;
  text-align: left;
  font-size: 1.2rem;

  font-size: var(--fsz--par--plan);
  line-height: var(--lh--tit--header);
}

/*-----plan container---------*/
.plan__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border:10px solid red; */
}

.plan__container .plan--title,
.plan__container .plan--title span {
  font-weight: bold;
  text-align: left;
  /* line-height: 1.8rem; */
  /* font-size: 1.25rem; */

  line-height: var(--lh--tit--plan);
  font-size: var(--fsz--tit--plan);

  /* border:10px solid blue; */
}

/******CARD STYLE****/
.plan__cards__container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;

  align-items: end;
  gap: 1.5rem;

  /* border: 10px solid rgb(16, 244, 244); */
}

.card__plan__container {
  min-width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 10px solid red; */
}
/*-----figures-------*/
.card__figure {
  --maxH--figure: 6rem;
  --minH--figure: 2rem;
  --normH--figure: 5rem;
  height: 5rem;

  /* width: auto; */
  aspect-ratio: auto;
}

.card__figure--plus {
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem;
  margin-bottom: 1.75rem;
}
.card__figure--rappel {
  height: 7rem;
  height: calc(var(--normH--figure) * 1.4);

  padding-top: 1rem;
}
/*--------------------*/
.card__plans__box {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  padding: 0.125rem 0;
  text-align: center;
  align-items: center;
  justify-content: start;

  width: 100%;
  min-width: max(100%, max-content);
  font-weight: bold;

  /* border: 4px solid black; */
}

.card__plans__box:last-child {
  border-bottom: 3px solid rgb(100, 169, 96);
}

.card__plans__box .cardTableHead {
  font-size: 1.25rem;
  border-top: 4px solid rgb(117, 195, 113);
  background-color: rgb(213, 235, 210);
  justify-content: center;
  width: 100%;
}

.card__row__col,
.currency,
.card__plans__row {
  font-size: clamp(1rem, 0.8rem + 0.8vw, 1.5rem);
  /* font-size: 1rem; */
  font-weight: bold;
}

.card__plans__row {
  display: flex;
  width: 100%;
  margin: 0 1rem;
  align-self: center;
  /* border: 4px solid rgb(247, 0, 255); */
}

.card__plans__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__row__col {
  min-width: max-content;
  width: 50%;
  align-self: center;
  align-items: center;
  /* border: 4px solid rgb(0, 4, 255); */
  /* font-size: 1.2rem; */
}

.card__row__col--left {
  text-align: left;
  margin-left: 1rem;
}

.card__row__col--changeToright {
  text-align: center;
}

.currency {
  margin: 0 0.5rem;
}

.card__row__col--right {
  text-align-last: left;
  display: flex;
}

@media screen and (max-width: 568px) {
  .plan__cards__container {
    flex-wrap: wrap;
    width: 100%;
    /* background: orange; */
    /* border:10px dashed rebeccapurple; */
  }

  .card__plan__container {
    width: 100%;
    width: max-content;
    height: 100%;
  }
}
