/* style-pages.css */
:root {
  --MW: 2500px;
  --section-height: 80rem;
  --section-width: 85rem;
  --w: 81vw;
}

* {
  font-weight: 500;
}
.section__lastpage {
  height: 100%;
  width: 100%;

  /* max-width: var(--MW); */
  width: 100vw;
  margin: 0;
  position: relative;

  display: flex;
  justify-content: center;
}

.section__lastpage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* .visualBox{
  border:10px solid red;
} */

.lastpage__container {
  width: 80%;
  width: 100vw;
  height: 100%;

  height: var(--section-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 
.lastpage__bgImg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  /* object-position: right; */

/* z-index: -1;
  opacity: 0.6; */
/* }  */

/*-----flex layout---------*/
.page__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  height: 100%;
  /* margin-left: 2rem; */
  justify-content: start;
}

.page__content--parr2,
.page__content--parr {
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align-last: start;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

.parr2--item {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}

.page__content--identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.logo__identity--signature {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.managerData {
  margin-top: 0.5rem;
}

.logo__identity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.logo__identity--logoImg,
.logo__identity--logoAcgme {
  height: 4rem;
  border-radius: 50%;
}

.lastpage__photoGroup--12 {
  width: 50%;
  max-width: 60rem;
  max-height: 10rem;
  align-self: center;
  margin-bottom: 1rem;

  aspect-ratio: auto;
}

.lastpage__photoGroup--12:hover {
  scale: 1.1;
}
