/* style-pages.css */
:root {
  --MW: 2500px;
  --section-height: 80rem;
  --section-width: 85rem;
  --w: 81vw;
}

* {
  font-weight: 500;
}
.section__lastpage {
  height: 100%;
  width: 100%;
  /* width: 100vw; */
  margin: 0;
  position: relative;

  display: flex;
  justify-content: center;
}

.section__lastpage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.lastpage__bgImg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  z-index: -1;
  opacity: 0.75;
}

.lastpage__container {
  align-items: start;

  width: 100%;
  height: 100%;

  height: var(--section-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*-----flex layout---------*/
.page__content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: start;
  align-items: start;
}

.page__content--parr2,
.page__content--parr {
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align-last: start;
  line-height: 1.5rem;
  font-size: 1.25rem;

  /* border:10px solid red; */
}

.parr2--item {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  /* border:10px solid cyan; */
}

.page__content--identity {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left: 3rem;
}

.logo__identity--signature {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.managerData {
  margin-top: 0.5rem;
}
.managerData p,
.page__content--parr {
  font-weight: 500;
  /* border:10px solid cyan; */
}

.logo__identity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.logo__identity--logoImg,
.logo__identity--logoAcgme {
  height: 4rem;
  border-radius: 50%;
}
.contact {
  margin-top: 1rem;
}

.photoGroup__container {
  align-self: center;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: orange; */
}

.lastpage__photoGroup {
  width: 50%;
  max-width: 70%;
  align-self: center;
  height: auto;

  transition: all 750ms ease-in-out;
  scale: 0.9;
}

.lastpage__photoGroup--13:hover {
  scale: 1.1;
}
/***********************/
@media all and (max-width: 490px) {
  .lastpage__container {
    align-items: center;
  }
}
/*****socialMedia*****/

@media all and (max-width: 490px) {
  .contact.socialMedia {
    gap: 0.5rem;
    flex: 1 1 auto;
  }
}

@media all and (max-width: 400px) {
  a.icon_xtwitter.icon.colored,
  a.icon_xtwitter.icon.colored > svg {
    display: block;
  }
}

@media all and (max-width: 385px) {
  a.icon_instagram.icon.colored,
  a.icon_instagram.icon.colored > svg {
    display: block;
  }

  .contact .socialMedia {
    justify-content: center;
  }
}
