/* style-pages.css */
:root {
  --MW: 1000px;
  --w: 81vw;
}
.section__page {
  height: 90rem;
  width: 100vw;
  max-width: var(--MW);
  margin: 0;
  position: relative;
}

.page__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.page__container--content {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 10px solid yellow; */
}

/*-----position---------*/
.page__bgImg {
  width: 100%;
  height: 100%;
  object-fit: cover/center;
  z-index: -1;
}
.page__bgImg {
  position: absolute;
  top: 0;
  left: 0;
}
/**********/
.page__card {
  background-color: rgb(255, 255, 255, 0.4);
  outline: none;
  border: none;
  border-radius: 1rem;
  z-index: 10;
}

.page__card {
  padding: 0.5rem;
  width: clamp(25%, 90vw, 90%);
}

/******TEXTS TITLE AND PAR******/
.page__texts--title {
  font-weight: 500;
  line-height: 5rem;
  letter-spacing: 1.5px;
  font-size: 3.5rem;
  color: black;
}

.page__texts__paragraph {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(46, 47, 48);

  font-size: clamp(40%, 40vw, 110%);
}

.page__parr2--item {
  list-style-type: none;
  list-style: none;
  font-size: 1.25rem;
}

/*slider?*/
.gallery__photoGroup {
  display: flex;
  margin: 0;

  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  /* max-width: max-content; */
  width: 80vw;
  padding: 1rem;
}

.page__photoGroup:hover {
  z-index: 30;
  scale: 1.1;
  transition: all 0.5s ease;
  border-radius: 2rem;
  border: 1px solid white;
  opacity: 0.95;
}

/*****PAGE 1*******/

.logo {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.4);

  margin-top: 6rem;
  margin-bottom: 3rem;
  border: 0.5px solid black;
}

.page__texts--title--1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.page__texts_paragraph__parr--1 {
  font-weight: 500;
}

/*****PAGE 2*******/
.page__container {
  /* border: 1px solid yellow; */
}

.page__container--2 .page__container--content {
  align-items: start;
  justify-content: start;
}

.page__card--2 {
  margin-left: 2rem;
  padding: 0.5rem;
  margin-top: 9rem;

  /* border: 1px solid red; */
}

.page__card--parr--2 {
  width: clamp(25%, 90vw, 90%);
}

.page__texts_paragraph__parr--2 {
  font-size: 1.25rem;

  font-weight: 500;
  /* border: 1px solid yellow; */
}

.page__texts__paragraph__parr1--2 {
  margin-top: 50%;
  margin-left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 1rem 1rem 0 0;

  width: 50%;
  text-align: left;

  /* border: 1px solid blue; */
}

.page__texts__paragraph__parr2--2 {
  margin-left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  width: 50%;
  margin-bottom: 10%;
  border-radius: 0 0 1rem 1rem;
  text-align-last: left;

  /* border: 1px solid brown; */
}

.page__parr2--item--2 {
  list-style-type: disc;
  margin-left: 20%;
}

/*****PAGE 3*******/

.page__container {
  /* border: 1px solid yellow; */
}
.page__container--3 .page__container--content {
  align-items: start;
  justify-content: start;

  /* border: 10px solid blue; */
}

.page__card--3 {
  margin-left: 2rem;
  margin-top: 9rem;
  width: max-content;
  /* border: 1px solid red; */
}

.page__texts--title--3 {
  /* border: 1px solid yellow; */
}
/* .page__texts_paragraph__parr--3 {
  border: 1px solid yellow;
  font-size: 1.25rem;


  font-weight: 500;
} */

.page__texts__paragraph__parr1--3 {
  margin-top: 90%;
  /* margin-left: 50%; */
  font-size: 1.2rem;
  font-weight: 500;

  border-radius: 1rem;

  width: 90%;
  text-align: left;
  align-self: center;

  /* border: 11px solid blue; */
}

.page__texts__paragraph__parr2--3 {
  margin-left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  width: 50%;
  margin-bottom: 10%;
  border-radius: 0 0 1rem 1rem;
  text-align-last: left;

  /* border: 1px solid brown; */
}

.page__parr2--item--3 {
  list-style-type: disc;
  margin-left: 20%;
}

/*****PAGE 4*******/

.page__container {
  /* border: 1px solid yellow; */
}

.page__container--4 .page__container--content {
  align-items: start;
  justify-content: start;

  /* border: 1px solid blue; */
}

.page__card--4 {
  margin-left: 2rem;
  margin-top: 15rem;
  width: max-content;

  /* border: 1px solid red; */
}

.page__texts--title--4 {
  font-size: 4rem;
  font-weight: 500;

  /* border: 1px solid yellow; */
}

.page__texts__paragraph__parr1--4 {
  margin-top: 90%;
  font-size: 1.5rem;
  font-weight: 500;

  border-radius: 1rem;

  width: 90%;
  text-align: left;
  align-self: center;

  /* border: 1px solid blue; */
}

/* .page__texts__paragraph__parr2--4 {
  margin-left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid brown;
  width: 50%;
  margin-bottom: 10%;
  border-radius: 0 0 1rem 1rem;
  text-align-last: left;
} 



/*****PAGE 5*******/

.page__container {
  /* border: 1px solid yellow; */
}
.page__container--5 .page__container--content {
  align-items: start;
  justify-content: start;

  /* border: 1px solid blue; */
}

.page__card--5 {
  /* border: 10px solid red; */
  margin-left: 2rem;
  padding: 0.25rem;
  margin-top: 6rem;
}

.page__card--parr--5 {
  width: 70%;
}

.page__texts_paragraph__parr--5 {
  /* border: 1px solid yellow; */
  font-size: 1.25rem;

  font-weight: 500;
}

.page__texts__paragraph__parr1--5 {
  /* border: 1px solid blue; */
  margin-top: 5%;
  margin-left: 22%;
  font-size: 1.2rem;
  font-weight: 500;

  border-radius: 1rem;

  width: 80%;
  text-align: center;
}

/* .page__texts__paragraph__parr2--5 {
  margin-left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid brown;
  width: 50%;
  margin-bottom: 10%;
  border-radius: 0 0 1rem 1rem;
  text-align-last: left;
} */

/* .page__parr2--item--5 {
  list-style-type: disc;
  margin-left: 20%;
} */

.gallery__photoGroup--page--5 {
  height: 12rem;
  border: 1rem;
  gap: 1rem;
}

.gallery__photoGroup--page--5 img {
  height: 10rem;
  border: 0.5rem;
}

/*****PAGE 6*******/

.page__container {
  /* border: 1px solid yellow; */
}
.page__container--6 .page__container--content {
  /* border: 1px solid blue; */
  align-items: start;
  justify-content: start;
}

.page__card--6 {
  margin-left: 2rem;
  margin-top: 9rem;
  width: max-content;
  /* border: 1px solid red; */
}

/* .page__texts_paragraph__parr--6 {
  border: 1px solid yellow;
  font-size: 1.25rem;

  font-weight: 500;
} */

.page__card--parr1--6 {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.page__texts__paragraph__parr1--6 {
  /* border: 1px solid blue; */
  margin-top: 65%;
  margin-left: 7%;
  font-size: 1.2rem;
  font-weight: 500;

  border-radius: 1rem;

  width: 75%;
  text-align: left;
}

/* .page__texts__paragraph__parr2--6 {
  margin-left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid brown;
  width: 50%;
  margin-bottom: 10%;
  border-radius: 0 0 1rem 1rem;
  text-align-last: left;
} */

/* .page__parr2--item--6 {
  list-style-type: disc;
  margin-left: 20%;
} */

.gallery__photoGroup--page--6 {
  top: 71%;
  right: 5%;
  position: absolute;
  height: auto;
  gap: 0.5rem;
  padding: 0.5rem;
}

.gallery__photoGroup--page--6 img {
  width: 10rem;
  border-radius: 0.5rem;
}

/*****PAGE 7*******/
.section__page--7 {
  height: 95rem;
}

.page__bgImg--7 {
  height: 95%;
}

.page__container {
  /* border: 1px solid yellow; */
}
.page__container--7 .page__container--content {
  /* border: 1px solid blue; */
  align-items: start;
  justify-content: start;
}

.page__card--7 {
  /* border: 1px solid red; */
  margin-left: 2rem;
  padding: 0.5rem;
  margin-top: 9rem;
  width: max-content;
}

/* .page__card--7 {
  margin-left: 2rem;
  margin-top: 9rem;
  width: max-content;
} */

/*************/

/* .page__texts_paragraph__parr--7 {
  border: 1px solid yellow;
  font-size: 1.25rem;

  font-weight: 500;
} */
.page__card--parr1--7,
.page__card--parr2--7 {
  background-color: rgba(255, 255, 255, 0.8);
}

.page__texts__paragraph__parr1--7 {
  /* border: 1px solid blue; */
  margin-top: 65%;
  margin-left: 50%;
  font-size: 1.2rem;
  font-weight: 500;

  border-radius: 1rem 1rem 0 0;

  width: 50%;
  text-align: left;
}

.page__texts__paragraph__parr2--7 {
  margin-left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  /* border: 1px solid brown; */
  width: 50%;
  margin-bottom: 10%;
  border-radius: 0 0 1rem 1rem;
  text-align: left;
}

.page__parr2--item--7 {
  margin-left: 0%;
}

.gallery__photoGroup--page--7 {
  background-color: transparent;
  gap: 0.5rem;
}

.page__photoGroup--7--1 {
  width: 16rem;
  background-color: rgba(0, 0, 0, 0.5);
}

/*****PAGE 8*******/
.section__page--8 {
  height: 100rem;
}

.page__bgImg--8 {
  height: 100%;
}

.page__container {
  /* border: 1px solid yellow; */
}
.page__container--8 .page__container--content {
  align-items: start;
  justify-content: start;
}

.page__card--8 {
  margin-left: 2rem;
  margin-top: 6rem;
  width: 60%;
  background-color: rgb(58, 56, 56, 0.26);
  text-align: left;
}

/*************/

.page__texts--title--8 {
  color: white;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4rem;
}

.page__texts__paragraph__parr1--8 {
  margin-top: 85%;
  margin-left: 55%;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 1.3rem;
  color: white;

  width: 48%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
}

.page__texts__paragraph__parr2--8 {
  letter-spacing: 0.5px;
  margin-left: 61%;
  font-size: 0.9rem;
  font-weight: normal;

  width: 40%;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
  color: white;
  margin-bottom: 1rem;
}

.page__parr2--item--8 {
  font-size: 0.9rem;
}

/*photoGroup page--8*/
.page__card.gallery__photoGroup--page--8 {
  background-color: transparent;
  padding: 0;
  margin: 0;
  /* border: 10px solid orange; */
}

.gallery__photoGroup--page--8 {
  /* position: absolute; */
  background-color: transparent;
  width: 85rem;
  height: 100%;
  /* top: 0%; */
  /* --top--photo: 0%; */
  transition: all 1s ease;
}

.page__photoGroup--8--photo--0 {
  position: absolute;
  /* left: 0%; */
  /* top: var(--top--photo); */
  width: 10rem;
  z-index: 25;
}

.page__photoGroup--8--photo--1 {
  /* position: absolute; */
  /* left: 15%; */
  /* top: calc(var(--top--photo) + 20%); */
  /* width: 14rem; */
  z-index: 25;
}

.page__photoGroup--8--2 {
  /* position: absolute; */
  /* left: 34%; */
  /* top: calc(var(--top--photo) + 35%); */
  /* width: 14rem; */
  z-index: 25;
}

.page__photoGroup--8:hover {
  z-index: 30;
  transition: all 1s ease;
  border-radius: 2rem;
  border: 1px solid white;
  opacity: 0.9;
  scale: 1.1;
}

/* MEDIA QUERIES****/

@media screen and (max-width: 700px) {
  .section__page {
    height: 100rem;
  }

  /******PAGE 1***************/
  .logo {
    width: 18rem;
    margin-top: 6rem;
    margin-bottom: 0rem;
  }

  .page__container {
    justify-content: start;
    /* border: 5px solid purple; */
  }
  .page__container--content {
    /* border: 10px solid blue; */
    justify-content: start;
  }

  .page__card--parr--1 {
    margin-top: 20rem;
  }
  .page__texts--title {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, calc(4vw), 3rem);
    line-height: 2rem;
    /* border: 10px solid purple; */
  }

  /******PAGE 2***************/
  .page__card--2 {
    margin-top: 1rem;
  }
  .page__card--parr1--2 {
    margin-top: 3rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .page__texts__paragraph__parr2 {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  /******PAGE 3******************/

  .page__card--3 {
    margin-top: 3rem;
  }
  .page__card--parr1--3 {
    margin-top: 3rem;
  }

  .page__texts__paragraph__parr1--3 {
    margin-top: 20rem;
  }

  /******PAGE 4******************/

  .page__card--4 {
    margin-top: 3rem;
  }
  .page__card--parr1--4 {
    margin-top: 23rem;
  }

  /******PAGE 5**************/

  .page__card--5 {
    margin-top: 3rem;
  }
  .page__texts__paragraph__parr1--5 {
    margin-top: 32rem;
  }

  /* .page__texts__paragraph__parr1--5 {
    margin-top: 32rem;
  } */

  /******PAGE 6**************/

  .page__card--6 {
    margin-top: 3rem;
  }
  .page__card--parr1--6 {
    margin-top: 22rem;
  }

  /******PAGE 7**************/
  .section__page--7 {
    height: 100%;
  }
  .page__bgImg--7 {
    height: 100%;
  }
  .page__card--7 {
    margin-top: 3rem;
  }
  .page__card--parr1--7 {
    margin-top: 22rem;
  }

  .page__texts__paragraph__parr2--7 {
    /* border: 10px solid red; */
    transform: unset;
  }
  .page__texts__paragraph__parr2--8 {
    margin-left: 85%;
  }
  .gallery__photoGroup--page--8 {
    display: none;
  }
}
