/* style-pages.css */
:root {
  --MW: 1000px;
}
.section__page {
  height: 100rem;
  height: 100%;
  width: 85rem;
  max-width: var(--MW);
  margin: 0;

  position: relative;
}

.page__container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}
/*-----position---------*/
.page__container {
}

.page__bgImg {
  width: 100%;
  height: 100%;

  object-fit: cover/center;
  z-index: 0;
}

.page__card {
  background-color: rgb(255, 255, 255, 0.4);
  outline: none;
  border: none;
  border-radius: 1rem;
  z-index: 20;

  padding: 0.5rem;
  margin: 0rem 3rem;
}

/******TEXTS TITLE AND PAR*********/
.page__texts--title {
  font-weight: 500;
  line-height: 5rem;
  letter-spacing: 1.5px;
  font-size: 5rem;
  color: black;
}

.page__texts__paragraph {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(46, 47, 48);
}

.page__parr2--item {
  font-size: 1.25rem;
}

/*slider?*/
.gallery__photoGroup {
  display: flex;
  margin: 0;
  padding: 0 2rem;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 60%;
}

/*****PAGE 1*******/

.logo {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.6);
  border: 0.5px solid black;
}

/*logo position*/
.logo {
  position: absolute;
  z-index: 10;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

/*position*/
.page__card--parr--1 {
  position: absolute;
  top: 26rem;
}

.page__texts--title--1 {
  font-size: 1.75rem;
  font-weight: 600;
}

.page__texts--title--1 {
  font-weight: 500;
  line-height: 3rem;
  border: 10px;
}

.gallery__photoGroup--page--1 {
  top: 72%;
  left: 50%;
  translate: -50%;
  position: absolute;
  height: 15rem;
  gap: 0.5rem;
}

/*****PAGE 2*******/
.page__container--2 {
  --top--parr1: 70%;
}
.page__card--parr--2 {
  position: absolute;
  top: 6rem;
  width: 65%;
}

.page__card--parr1--2 {
  position: absolute;
  height: auto;

  width: 50%;
  border-radius: 1rem 1rem 0 0;

  top: var(--top--parr1);
  right: 0;
}

.page__card--parr2--2 {
  position: absolute;
  height: auto;

  width: 50%;
  color: black;
  border-radius: 0 0 1rem 1rem;
  text-align: left;

  top: calc(var(--top--parr1) + 6%);
  right: 0;
}

.page__parr2--item--2 {
  margin-left: 35%;
  text-align: left;
}

li {
  list-style-type: disc;
}

/*****PAGE 3*******/
.page__container--3 {
  --top--parr1: 75%;
}

.page__card--parr--3 {
  position: absolute;
  top: 6rem;
}

.page__card--parr1--3 {
  margin: 0;
  padding: 0.5 rem 1rem;
  position: absolute;
  height: auto;

  width: 90%;
  border-radius: 1rem;
  color: black;

  top: var(--top--parr1);
  left: 50%;
  transform: translateX(-50%);
}

/*****PAGE 4*******/
.page__container--4 {
  --top--parr1: 80%;
}

.page__card--parr--4 {
  position: absolute;
  top: 6rem;
  background-color: rgba(0, 0, 0, 0);
}

.page__card--parr1--4 {
  position: absolute;
  height: auto;

  width: 80%;
  border-radius: 1rem;
  color: black;

  top: var(--top--parr1);
  left: 50%;
  transform: translateX(-50%);
}

/*****PAGE 5*******/
.page__container--5 {
  --top--parr1: 80%;
}

.page__card--parr--5 {
  position: absolute;
  top: 6rem;
}

.page__card--parr1--5 {
  position: absolute;
  height: auto;

  width: 80%;
  border-radius: 1rem;
  color: black;

  top: 18%;
  left: 10%;
}

.gallery__photoGroup--page--5 {
  top: 77%;
  left: 50%;
  translate: -50%;
  position: absolute;
  height: 12rem;
  border: 1rem;
  gap: 1rem;
}

.gallery__photoGroup--page--5 img {
  height: 10rem;
  border: 0.5rem;
}

/*****PAGE 6*******/
.page__container--6 {
  /* border: 10px solid yellow; CHECKING */
  --top--parr1: 40%;
  top: 40%;
}

.page__card--parr--6 {
  position: absolute;
  top: 6rem;
}

.page__card--parr1--6 {
  position: absolute;
  height: auto;

  width: 80%;
  border-radius: 1rem;
  color: black;

  top: calc(var(--top--parr1) + 0%);
  left: 50%;
  transform: translateX(-50%);
}
.gallery__photoGroup--page--6 {
  top: 71%;
  right: 5%;
  position: absolute;
  height: auto;
  gap: 1rem;
  padding: 1rem;
}

.page__photoGroup--6--1 {
  width: 10rem;
}

.gallery__photoGroup--page--6 img {
  height: 15rem;
  border-radius: 0.5rem;
}

/*****PAGE 7*******/

.page__card--parr--7 {
  position: absolute;
  top: 6rem;
}

.page__card--parr1--7 {
  position: absolute;
  height: auto;

  width: 60%;
  border-radius: 1rem;
  color: black;

  top: 40%;
  right: 1%;
  font-size: 1.25rem;

  text-align: justify;
  white-space: pre-line;
}
.page__card--parr2--7 {
  position: absolute;
  height: auto;

  width: 50%;
  color: black;
  border-radius: 1rem;
  text-align: left;

  top: 60%;
  right: 2%;
  font-size: 3rem;
  margin: 0;
}

.gallery__photoGroup--page--7 {
  background-color: transparent;
  top: 75%;
  left: 65%;
  transform: translateX(-60%);
  position: absolute;
  height: auto;
  gap: 1rem;
}

.gallery__photoGroup--page--7 img {
  height: 14rem;
}

.page__photoGroup--7--1 {
  width: 12rem;
  background-color: rgba(0, 0, 0, 0.5);
}

/*****PAGE 8*******/

.page__card--parr--8 {
  position: absolute;
  top: 6rem;
  background-color: rgb(58, 56, 56, 0.6);
  padding: 0.5rem 1rem;
}

.page__card--8 {
  width: 80%;
  border-radius: 2rem;
}

.page__texts--title--8 {
  color: white;
  font-weight: normal;
}

.page__card--parr1--8,
.page__card--parr2--8 {
  position: absolute;
  height: auto;
  width: 46%;
  border-radius: 1.5rem;
  --top-photo: 60%;
  --left-photo: 48%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;

  font-size: 1.3rem;
}

.page__card--parr1--8 {
  letter-spacing: 0.5px;
  top: var(--top-photo);
  left: var(--left-photo);
  font-size: 1.4rem;
  font-weight: normal;
  border-radius: 2.5rem;
  padding: 1.5rem;
}

.page__card--parr2--8 {
  top: calc(var(--top-photo) + 30%);
  left: calc(var(--left-photo));

  font-size: 0.9rem;
}

.page__card--parr2--8 li {
  list-style-type: none;
}

/*photoGroup page--8*/
.page__card.gallery__photoGroup--page--8 {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.gallery__photoGroup--page--8 {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 46%;
  top: 50%;
  --top--photo: 20%;
}

.page__photoGroup--8--0 {
  position: absolute;
  left: 8%;
  top: var(--top--photo);
  width: 14rem;
  z-index: 25;
}

.page__photoGroup--8--1 {
  position: absolute;
  left: 15%;
  top: calc(var(--top--photo) + 23%);
  width: 14rem;
  z-index: 25;
}

.page__photoGroup--8--2 {
  position: absolute;
  left: 34%;
  top: calc(var(--top--photo) + 35%);
  height: 15rem;
  z-index: 25;
}

.page__photoGroup--8:hover {
  z-index: 30;
  scale: 1.2;
  transition: all 0.5s ease;
  border-radius: 2rem;
  border: 1px solid white;
  opacity: 0.95;
}
