.navbar__layout {
  position: fixed;
  /* position: sticky;  */
  /* top: 0%; */
  bottom: 33%;
  height: 10lvh;
  height: 10vh;

  width: 100%;
  z-index: 2;
  transition: ease-in-out 800ms;

  /* background-color: rgb(105, 182, 231, 0.17); */
}
.navbar__layout:hover {
  background-color: rgba(166, 210, 238, 0.7);
  z-index: 200;
}

nav {
  background-color: transparent;
height: 10svh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 30;
  gap: 2rem;

  padding: 0.5rem 2rem;
  width: 98%;
  align-self: center;
  /* flex-wrap: nowrap; */
  /* border:10px solid blue; */
}

.btnPlans__container {
  display: flex;
  justify-content: start;
  flex: 0.5;
  padding: 0.5rem;
}

.btnPlans__container a {
  font-size: 1.25rem;
  padding: 0.6rem 0.75rem;
  border-radius: 0.5rem;
  vertical-align: middle;
  text-transform: capitalize;
  text-align: center;
  background-color: rgb(240, 248, 255, 0.5);
  color: rgb(54, 53, 58);
  border: 1px solid rgba(240, 248, 255, 0.75);
}

.btnPlans__container a:hover {
  background-color: rgb(240, 248, 255, 0.9);
  border-color: aliceblue;
  color: rgb(0, 0, 0);
  box-shadow: 0px 1px 3px rgba(105, 182, 231, 0.5);
  scale: 1.2;
}
