@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  font-size: 16px;

  font-family: 'Segoe UI', sans-serif, 'Nanum Gothic';

  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
