@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  font-size: 16px;
  font-weight: normal;

  font-family: 'Segoe UI', sans-serif, 'Nanum Gothic';

  font-style: normal;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.app__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center
}

/* 
div{
  border:1px solid red;
}

p, section{border:10px solid rebeccapurple;}

li, a{
  border:10px solid green;
} */

